In [36]:
import pandas as pd
df = pd.read_csv('/Users/jeongjaeho/attic_project/mlApp/testcode/data111.csv')
display(df)

,ts,700FIC028_Y,700II781C_Y,700II782C_Y,700II783C_Y,700LI770B_Y,CUEI501_Y,CUFI008_Y,CUII503_Y,CULC501_Y,CULC508_Y,SOFC002_Y,SOFC007_Y,SORF001_Y,SWFC004_Y,SWRF001_Y,CUEI502_Y,CUEI503_Y,SWFC001_Y
0,2016-07-12 0:00,32.17403,13.226080,13.53725,13.59742,57.75349,16.92843,6.075186,100.85960,34.07219,49.91236,27.09365,3.146832,116.3690,1.040659,79.90697,16.62936,16.82737,12.874500
1,2016-07-12 0:01,32.06405,9.414404,10.28217,10.32054,57.75945,18.27904,6.050002,108.17980,34.00620,49.93046,26.90794,3.141322,116.6662,1.017292,81.33105,18.59732,18.62467,12.372010
2,2016-07-12 0:02,32.20876,9.807193,11.52965,10.00512,57.75109,17.07017,6.053713,98.98508,34.01115,49.94326,26.82659,3.142141,116.1130,0.979126,79.86474,16.93091,16.82307,12.189000
3,2016-07-12 0:03,32.17450,15.399190,15.52878,15.61818,57.75076,17.93410,6.077959,108.62690,34.02394,49.93918,26.48037,3.126388,116.5486,0.980876,77.98444,18.08318,18.33235,12.444020
4,2016-07-12 0:04,32.15032,12.643540,12.54185,12.64877,57.74354,17.36827,6.084131,98.18043,34.01924,49.90780,26.94508,3.128983,116.5777,1.020905,79.33493,17.23958,17.33637,12.916750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4992,2016-07-15 11:14,32.00462,15.770320,15.65841,15.71927,56.08091,18.52730,6.164919,103.92780,34.12824,49.94656,27.58762,3.179786,114.3263,0.750121,80.53542,18.19582,18.86802,9.282017
4993,2016-07-15 11:15,31.94653,11.744700,11.67167,11.71438,56.08380,17.73672,6.146446,101.41350,34.08924,49.99800,28.01667,3.186578,113.7430,0.745682,80.01757,17.39153,17.62644,9.277515
4994,2016-07-15 11:16,32.18319,10.562900,10.53658,10.70412,56.09236,18.31543,6.165348,103.18260,34.07628,49.97462,27.76990,3.188730,114.0835,0.733750,80.97989,17.94128,18.52888,9.303501
4995,2016-07-15 11:17,32.09569,16.052530,15.92344,16.98723,56.10730,18.33112,6.175298,105.15490,34.06232,50.08852,27.57987,3.200127,114.4905,0.731343,81.22403,17.82475,18.06074,9.240599
4996,2016-07-15 11:18,31.83692,14.769860,15.36486,15.67880,56.10342,17.64743,6.184599,97.93584,34.07660,50.12830,27.63685,3.178530,114.7325,0.739506,80.97850,17.30831,17.69501,9.255781

In [37]:
df.isnull().sum()

ts             0
700FIC028_Y    0
700II781C_Y    0
700II782C_Y    0
700II783C_Y    0
700LI770B_Y    0
CUEI501_Y      0
CUFI008_Y      0
CUII503_Y      0
CULC501_Y      0
CULC508_Y      0
SOFC002_Y      0
SOFC007_Y      0
SORF001_Y      0
SWFC004_Y      0
SWRF001_Y      0
CUEI502_Y      0
CUEI503_Y      0
SWFC001_Y      0
dtype: int64

In [35]:
df[df['700FIC028_Y'].isnull()]

,ts,700FIC028_Y,700II781C_Y,700II782C_Y,700II783C_Y,700LI770B_Y,CUEI501_Y,CUFI008_Y,CUII503_Y,CULC501_Y,CULC508_Y,SOFC002_Y,SOFC007_Y,SORF001_Y,SWFC004_Y,SWRF001_Y,CUEI502_Y,CUEI503_Y,SWFC001_Y
617,2016-07-12 10:17,NaN,NaN,NaN,NaN,NaN,18.22643,6.168641,107.88380,34.03257,50.22265,27.80645,3.156614,113.0281,0.732672,80.18727,18.13270,18.89249,9.167084
618,2016-07-12 10:18,NaN,NaN,NaN,NaN,NaN,17.30735,6.168709,99.11471,34.11596,50.09502,28.11378,3.165295,112.6554,0.726963,79.72675,17.03774,17.25206,9.153738

In [39]:
threshold=10
category= []
for each in df.columns:
    if df[each].nunique() > threshold:
        category.append(each)

In [40]:
category

['ts',
 '700FIC028_Y',
 '700II781C_Y',
 '700II782C_Y',
 '700II783C_Y',
 '700LI770B_Y',
 'CUEI501_Y',
 'CUFI008_Y',
 'CUII503_Y',
 'CULC501_Y',
 'CULC508_Y',
 'SOFC002_Y',
 'SOFC007_Y',
 'SORF001_Y',
 'SWFC004_Y',
 'SWRF001_Y',
 'CUEI502_Y',
 'CUEI503_Y',
 'SWFC001_Y']

In [55]:
category_features = []
dataTypeList = []
for each in df.columns:
    if df[each].nunique() < threshold:
        category_features.append(each)
        valueType = 'category'
    elif each == 'ts':
        category_features.append(each)
        valueType = 'category'
    else:
      valueType = 'numeric'

    dataTypeList.append({each:valueType})

print({'datatype':dataTypeList})

{'datatype': [{'ts': 'category'}, {'700FIC028_Y': 'numeric'}, {'700II781C_Y': 'numeric'}, {'700II782C_Y': 'numeric'}, {'700II783C_Y': 'numeric'}, {'700LI770B_Y': 'numeric'}, {'CUEI501_Y': 'numeric'}, {'CUFI008_Y': 'numeric'}, {'CUII503_Y': 'numeric'}, {'CULC501_Y': 'numeric'}, {'CULC508_Y': 'numeric'}, {'SOFC002_Y': 'numeric'}, {'SOFC007_Y': 'numeric'}, {'SORF001_Y': 'numeric'}, {'SWFC004_Y': 'numeric'}, {'SWRF001_Y': 'numeric'}, {'CUEI502_Y': 'numeric'}, {'CUEI503_Y': 'numeric'}, {'SWFC001_Y': 'numeric'}]}