In [64]:
# from app import df

import pandas as pd 
import numpy as np 
import os
import json
import matplotlib

df = pd.read_csv('./static/uploadsDB/pima-indians-diabetes.csv')
# 0) df type에 따라서 나누기 (categorical/numeric)
print (df)

     Number_of_Pregrancy  Plasma_glucose  Diastolic_BP  Triceps_Thickness  \
0                      6             148            72                 35
1                      1              85            66                 29
2                      8             183            64                  0
3                      1              89            66                 23
4                      0             137            40                 35
..                   ...             ...           ...                ...
763                   10             101            76                 48
764                    2             122            70                 27
765                    5             121            72                 23
766                    1             126            60                  0
767                    1              93            70                 31

     Serum_Insulin   BMI  Diabetes_Pedegree  Age  Class
0                0  33.6              0.627   50      1
1                0  26.6              0.351   31      0
2                0  23.3              0.672   32      1
3               94  28.1              0.167   21      0
4              168  43.1              2.288   33      1
..             ...   ...                ...  ...    ...
763            180  32.9              0.171   63      0
764              0  36.8              0.340   27      0
765            112  26.2              0.245   30      0
766              0  30.1              0.349   47      1
767              0  30.4              0.315   23      0

[768 rows x 9 columns]

0

Number_of_Pregrancy      3.845052
Plasma_glucose         120.894531
Diastolic_BP            69.105469
Triceps_Thickness       20.536458
Serum_Insulin           79.799479
BMI                     31.992578
Diabetes_Pedegree        0.471876
Age                     33.240885
Class                    0.348958
dtype: float64

In [68]:
category_features = []
threshold = 10
for each in df.columns:
    if df[each].nunique() < threshold:
        category_features.append(each)

for each in category_features:
    df[each] = df[each].astype('category')

In [80]:
df_numeric = df.select_dtypes(exclude = ['category']).copy()
df_categorical = df.select_dtypes(include = ['category']).copy()

,Number_of_Pregrancy,Plasma_glucose,Diastolic_BP,Triceps_Thickness,Serum_Insulin,BMI,Diabetes_Pedegree,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [75]:
# 1) numeric 변수 생성
# df_numeric_type = df_numeric.dtypes
df_columns = list((df).columns)
df_mean =  df.mean().round(3)
df_std = df.std().round(3)
df_quantile = df.quantile()
df_numOfNA = df.isnull().sum()

# 2) numeric Dataframe 생성
df_info = pd.DataFrame(index=list(df.columns)) 

# 3) df에 투입
# df_numeric_info.insert(0,'type',df_numeric_type)
df_info.insert(0,'mean',df_mean)
df_info.insert(1,'std',df_std)
df_info.insert(2,'quantile',df_quantile)
df_info.insert(3,'numOfNA',df_numOfNA)

df_info

                        mean      std  quantile  numOfNA
Number_of_Pregrancy    3.845    3.370    3.0000        0
Plasma_glucose       120.895   31.973  117.0000        0
Diastolic_BP          69.105   19.356   72.0000        0
Triceps_Thickness     20.536   15.952   23.0000        0
Serum_Insulin         79.799  115.244   30.5000        0
BMI                   31.993    7.884   32.0000        0
Diabetes_Pedegree      0.472    0.331    0.3725        0
Age                   33.241   11.760   29.0000        0
Class                    NaN      NaN       NaN        0

In [52]:
df_categorical_columns = df.select_dtypes(include = ['category']).columns
df_categorical_mostCommon = df_categorical_columns.value_counts().idxmax()
df_categorical_numOfNA = df_categorical_columns.isnull().sum()
# 2) categorical dataframe 생성
df_categorical_info = pd.DataFrame(index=list(df_categorical.columns)) 

# 3) categorical 변수 df에 투입
df_categorical_info.insert(0,'mostCommon',df_categorical_mostCommon)
df_categorical_info.insert(1,'numOfNA',df_categorical_numOfNA)

NameError: name 'df_categorical' is not defined

In [41]:
if(len(category_features) == 0):
  df_numeric = df.copy()
  # 1) numeric 변수 생성
  # df_numeric_type = df_numeric.dtypes
  df_numeric_columns = list((df_numeric).columns)
  df_numeric_mean =  df_numeric.mean().round(3)
  df_numeric_std = df_numeric.std().round(3)
  df_numeric_quantile = df_numeric.quantile()
  df_numeric_numOfNA = df_numeric.isnull().sum()

  # 2) numeric Dataframe 생성
  df_numeric_info = pd.DataFrame(index=list(df_numeric.columns)) 

  # 3) df에 투입
  # df_numeric_info.insert(0,'type',df_numeric_type)
  df_numeric_info.insert(0,'mean',df_numeric_mean)
  df_numeric_info.insert(1,'std',df_numeric_std)
  df_numeric_info.insert(2,'quantile',df_numeric_quantile)
  df_numeric_info.insert(3,'numOfNA',df_numeric_numOfNA)
  print(df_numeric)

In [89]:
# from app import df

import pandas as pd 
import numpy as np 
import os
import json
import matplotlib

df = pd.read_csv('./static/uploadsDB/pima-indians-diabetes.csv')
category_features = []
threshold = 10
for each in df.columns:
  if df[each].nunique() < threshold:
      category_features.append(each)

for each in category_features:
  df[each] = df[each].astype('category')
# 0) df type에 따라서 나누기 (categorical/numeric)
df_numeric = df.select_dtypes(exclude = ['category']).copy()
df_categorical = df.select_dtypes(include = ['category']).copy()

# 1) numeric 변수 생성
# df_numeric_type = df_numeric.dtypes
df_numeric_columns = list((df_numeric).columns)
df_numeric_mean =  df_numeric.mean().round(3)
df_numeric_std = df_numeric.std().round(3)
df_numeric_quantile = df_numeric.quantile()
df_numeric_numOfNA = df_numeric.isnull().sum()

# 2) numeric Dataframe 생성
df_numeric_info = pd.DataFrame(index=list(df_numeric.columns)) 

# 3) df에 투입
# df_numeric_info.insert(0,'type',df_numeric_type)
df_numeric_info.insert(0,'mean',df_numeric_mean)
df_numeric_info.insert(1,'std',df_numeric_std)
df_numeric_info.insert(2,'quantile',df_numeric_quantile)
df_numeric_info.insert(3,'numOfNA',df_numeric_numOfNA)

#####################################################

# 1) categorical 변수 생성
df_categorical_columns = list((df_categorical).columns)
df_categorical_mostCommon = df_categorical.value_counts().idxmax()
df_categorical_numOfNA = df_categorical.isnull().sum()

# 2) categorical dataframe 생성
df_categorical_info = pd.DataFrame(index=list(df_categorical.columns)) 

# 3) categorical 변수 df에 투입
df_categorical_info.insert(0,'mostCommon',df_categorical_mostCommon)
df_categorical_info.insert(1,'numOfNA',df_categorical_numOfNA)

# # 반환
# summarizedDF = (df_numeric_info.to_dict(), df_categorical_info.to_dict())
# return  jsonify(df_numeric_info.to_dict(), df_categorical_info.to_dict(),df_numeric_columns,df_categorical_columns)

df_numeric_info
df_categorical_info

['Number_of_Pregrancy',
 'Plasma_glucose',
 'Diastolic_BP',
 'Triceps_Thickness',
 'Serum_Insulin',
 'BMI',
 'Diabetes_Pedegree',
 'Age']